:root {
    --first-color: #0e0b16;
    --second-color: #A9A9A9;
    --terciary-color: #1A2930;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: auto;
    display: flex;

}